@import "tailwindcss";

@theme {
  --color-primary: #0F172A;
  --color-accent: #F97316;
  --color-background: #F8FAFC;
  --color-cards: #FFFFFF;
  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-inter);
  color: var(--color-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
}
